<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AddPost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="AddPost()">
    <ion-item>
      <ion-label>Preencha os Dados do Post</ion-label>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Titulo" name="title" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Conteudo do Post..." name="body" [(ngModel)]="body"></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit">Adicionar Post</ion-button>
  </form>
</ion-content>